
/* CSS Document */

body {
    background: white;
    font-family: "freight-sans-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    color: #383838;
}


/*
Login Header Styling
Custom styling as bootstraps nav system is a little complicated
for showing 2 links at the top instead of a full nav tree
*/

header {
	height: 56px;	
}

.login-header {
	position: 			fixed;
	width: 				100%;
	background: 		black;
	color: 				#fff;
	font-weight: 		700;
	margin: 			0;
	padding: 			15px 50px 15px 0;
	font-size: 			1.35em;	
	text-align: 		right;
    text-transform: 	uppercase;
	z-index: 			1000;
}

.login-header div {	
	display: 			inline-block;
	margin:  			0 10px;
	cursor: 			pointer;
}

.login-header span {
	font-weight: 		300;
}

.login-header a, .login-header a:hover {
	color: 				#fff;
	text-decoration: 	none;
}

.container-fluid {
	overflow: 			hidden;	
}

@media (max-width: 425px) {
	.login-header {
		text-align: 	center;
		font-size: 		1.2em;
		padding: 		10px;	
	}
	
	header {
		height: 		43px;		
	}
}

/*
Hero Styling
*/

.hero {
	display: 			block;
	width: 				100%;
	background: 		url(../images/hero_bg.jpg) #333;
	background-repeat: 	no-repeat;
	background-position: center;
	color: 				#fff;
	height: 			550px;
}

.member-co-title {
	margin: 			30px 0 80px 13%;	
}

.member-title {
    text-transform: 	uppercase;
	font-size: 			3.4em;
	font-weight: 		600;
	background: 		url(../images/logo_member.png);
	background-repeat: 	no-repeat;
	background-position: left center;
	padding-left: 		65px;
}

.co-title {
    text-transform: 	uppercase;
	text-decoration: 	underline;
	font-size: 			2.2em;
	font-weight: 		100;
	margin: 			10px 7px;
	vertical-align: 	top;
}

.member-co-title div{
	display: 			inline-block;	
}

.hero-text {
	text-align: 		center;	
}

.hero-header {
    text-transform: 	uppercase;
	font-size: 			5.2em;
	line-height: 		0.8;
	font-weight: 		100;
	width: 				100%;
	max-width:			650px;
	margin: 			0 auto;
}

.hero-subheader {
	font-weight: 		bold;
	font-size: 			1.3em;
	line-height: 		1.1;
	width: 				100%;
	max-width: 			620px;
	margin: 			20px auto;
}

.hero-button, .hero-button:link, .hero-button:visited {
    text-transform: 	uppercase;
	font-size: 			2em;
	font-weight: 		500;
	line-height: 		1;
	border-radius: 		0;
	background-color: 	#ff6352;
	border:				1px solid #ff4e3b;
	margin: 			0 auto;
	padding: 			16px 16px;
}

.hero-button:hover {
	background-color: 	#ff4e3b;
	border: 			1px solid #ff4e3b;
}

.hero-button:active, .hero-button:active:focus {
	background-color: 	#ff4e3b;
	border: 			1px solid #ff4e3b;
}

.hero-button .glyphicon {
	font-size: 			.8em;
}


@media (max-width: 1000px) {
	.hero {
		background-position: 62% 60%;
	}	
}

@media (max-width: 780px) {
	.hero {
		background-position: 66% 70%;
	}	
}

@media (max-width: 680px) {
	.member-co-title {
		margin: 		40px 0 50px 0;
		text-align: 	center;
	}
}

@media (max-width: 425px) {
	.hero {
		background-position: 68% 90%;
	}
	.hero-header {
		font-size: 		4em;
	}
	.hero-button {
		padding: 		30px !important;	
		margin-top: 	20px !important;
	}
}

@media (max-width: 370px) {
	.hero {
		background-position: 50% 90%;
	}
	.member-title {
		padding-top: 		20px;
		padding-bottom: 	20px;	
	}
	.hero-header {
		font-size: 		3.5em;
	}
	.member-co-title {
		margin: 		20px 0 30px 0;
		text-align: 	center;
		font-size: 		.6em;
	}
	.hero-button {
		padding: 		30px !important;	
		margin-top: 	20px !important;
	}
	.hero-subheader {
		font-weight: 		normal;
		font-size: 			1.4em;
		line-height: 		1.1;
		width: 				100%;
		max-width: 			620px;
		margin: 			20px auto;
	}
	.co-title {
		text-transform: 	uppercase;
		text-decoration: 	underline;
		font-size: 			2.2em;
		font-weight: 		100;
		margin: 			26px 7px;
		vertical-align: 	top;
	}
}


/*
Parallax Headers
*/

.experience {
	position: 			relative;
	width: 				100%;	
	height: 			315px;	
	color: 				#000;
	font-family: 		"jaf-bernino-sans-condensed", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	overflow: 			hidden;
}

.experience div {
	z-index: 			500;
}

.experience p {
	font-weight: 		bold;
    text-transform: 	uppercase;
    font-size: 			3em;
    line-height: 		1.5;
    background: 		rgba(255, 255, 255, 0.85);
    display: 			inline;
    box-shadow: 		0.2em 0 0 rgba(255, 255, 255, 0.85), -0.2em 0 0 rgba(255, 255, 255, 0.85);
    position: 			relative;
    left: 				0.2em;
}

.experience-discounts {   
	background: 		url(../images/bg_pattern_chevron_green.png) #26c9a6;
    background-attachment: fixed;
}

.experience-discounts div, .experience-prizes div {
    position: 			absolute;
    top: 				50%;
    -webkit-transform: 	translate(-50%,-50%);
    -ms-transform: 		translate(-50%,-50%);
    transform: 			translate(-50%,-50%);
    left: 				35%;
    max-width: 			40em;
}

.experience-cash-back {    
	background: 		url(../images/bg_pattern_ignite_orange.png) #f36c4f;
    background-attachment: fixed;
}

.experience-cash-back div{
	text-align: 		right;
    position: 			absolute;
    top: 				50%;
	right: 				36%;
    -webkit-transform: 	translate(50%,-50%);
    -ms-transform: 		translate(50%,-50%);
    transform: 			translate(50%,-50%);
    max-width: 			40em;
}

.experience-prizes {
	background: 		url(../images/bg_gray_pattern.png) #383838;
    background-attachment: fixed;
}

@media (max-width: 320px) {	
	.experience p {
		font-size: 			2.5em;
	}
}

/*
Parallax Icons 
*/

.parallax-diamond {
	background: 		url(../images/icon_diamond.png);
	background-repeat: 	no-repeat;
	display: 			block;
	position: 			relative !important;
	top: 				314px !important;
	width: 				423px;
	height: 			632px;
	text-align: 		center;
	z-index: 			5 !important;
} 

.parallax-discounts-icon {
	background: 		url(../images/icon_tag.png);
	background-repeat: 	no-repeat;
	display: 			inline-block;
	top: 				200px !important;
	left:  				220px !important;
	width: 				124px;
	height: 			113px;
	z-index: 			5 !important;
}

.parallax-cash-back-icon {
	background: 		url(../images/icon_card.png);
	background-repeat: 	no-repeat;
	display: 			inline-block;
	top: 				220px !important;
	left:  				100px !important;
	width: 				124px;
	height: 			113px;
	z-index: 			5 !important;
}

.parallax-prizes-icon {
	background: 		url(../images/icon_trophy.png);
	background-repeat: 	no-repeat;
	display: 			inline-block;
	top: 				220px !important;
	left:  				220px !important;
	width: 				124px;
	height: 			113px;
	z-index: 			5 !important;
}

.parallax-diamond.left {
	right: 				8%;
}
.parallax-diamond.right {
	left: 				75% !important;		
}

@media (max-width: 1100px) {	
	.parallax-diamond.left {
		right: 15% !important;
	}
}

@media (max-width: 850px) {	
	.parallax-diamond.left {
		right: 20% !important;
	}

}

@media (max-width: 670px) {	
	.parallax-diamond.left {
		right: 35% !important;
	}
}

@media (max-width: 610px) {	
	.parallax-diamond.left {
		right: 58% !important;
	}
}


@media (max-width: 500px) {	
	.parallax-diamond.left {
		right: 90% !important;
	}
}
@media (max-width: 375px) {	
	.parallax-diamond.left {
		right: 140% !important;
	}
}

/*
Sliders
*/

.slidein-container {
	margin: 			0 auto 75px auto;
	display: 			table;
	text-align: 		center;
	width: 				100%;
	max-width: 			970px;
}

.slidein, .slidein-wrapper {
	display: 			inline-block;
}

.slidein-title {
	text-align: 		left;
	font-size: 			1.5em;
	font-weight: 		bold;
	margin: 			40px 0 16px 4px;
}

.slidein-box {
	display: 			inline-block;
	width: 				230px;
	max-width: 			230px;
	height: 			275px;
	max-height: 		275px;
	cursor: 			pointer;
	margin: 			0 5px 10px 5px;
	position: 			relative;
}

.slidein-box img {
	vertical-align: 	middle;
	text-align: 		center;
	display: 			block;
	position: 			relative;
	top: 				50%;
	left: 				50%;
    -webkit-transform: 	translate(-50%,-60%);
    -ms-transform: 		translate(-50%,-60%);
    transform: 			translate(-50%,-60%);
	padding: 			15px;
}

.slidein-box div {
	position: 			absolute;
	bottom: 			0;
	width: 				100%;
	font-size: 			.9em;
	padding: 			10px 0;
	background-color: 	#333;
	color: 				#fff;
	vertical-align: 	baseline;
}

.slidein-box-normal {
	border: 			2px solid #ddd;
	background-color: 	#fff;	
}

.slidein-box-hover {
	background-color: 	#ffc;	
	border: 			2px solid #fd3;
}

@media (max-width: 1000px) {
	
	.slidein-container {
		margin: 			0 auto 25px auto;
	}
	
	.slidein-title {
		text-align: 		center;
		font-size: 			2.2em;
		margin: 			20px 0 16px 4px;
	}
	
	.slidein-box {
		display: 			inline-block;
		width: 				45%;
		max-width: 			45%;
		height: 			275px;
		max-height: 		275px;
		cursor: 			pointer;
		margin: 			0 20px 10px 5px;
	}
	
	.slidein-box div {
		position: 			absolute;
		bottom: 			0;
		width: 				100%;
		font-size: 			1.3em;
		padding: 			10px 0;
		background-color: 	#333;
		color: 				#fff;
		vertical-align: 	baseline;
	}

}

@media (max-width: 690px) {
	
	.slidein-container {
		margin: 			0 auto 25px auto;
	}
	
	.slidein-title {
		text-align: 		center;
		font-size: 			2.2em;
		margin: 			20px 0 16px 4px;
	}
	
	.slidein-box {
		display: 			inline-block;
		width: 				100%;
		max-width: 			100%;
		height: 			275px;
		max-height: 		275px;
		cursor: 			pointer;
		margin: 			0 20px 10px 5px;
	}
	
	.slidein-box div {
		position: 			absolute;
		bottom: 			0;
		width: 				100%;
		font-size: 			1.5em;
		padding: 			10px 0;
	}

}

@media (max-width: 425px) {
	
	
	.slidein-title {
		text-align: 		center;
		font-size: 			1.7em;
		margin: 			20px 0 16px 4px;
	}
}

@media (max-width: 320px) {
	
	
	.slidein-title {
		text-align: 		center;
		font-size: 			1.4em;
		margin: 			20px 0 16px 4px;
	}
}


/*
Auctions and Sweepstakes
*/

.auctions-container, .sweepstakes-container {
	vertical-align: 	top;
	display: 			inline-block;
	width: 				472px;
	max-width: 			472px;
	height: 			340px;
	margin: 			0 5px 20px 5px;
	border: 			2px solid #ddd;
}

.auctions-header, .sweepstakes-header, .auction-item div, .sweepstakes-item div {
	width: 				100%;
	font-size: 			1.1em;
	padding: 			10px 0;
	background-color: 	#333;
	color: 				#fff;	
}

.auctions-header, .sweepstakes-header {
	text-transform: 	uppercase;
	font-weight: 		bold;	
	font-size: 			1.3em;
}

.sweepstakes-item div, .auction-item div {
	position: 			absolute;
	bottom: 			0;
 }

.auction-time-left, .sweepstakes-time-left {
	background-color: 	#41b89f !important;
	position: 			relative !important;
	margin: 			1px 0 0 0;
	vertical-align: 	top;
}

.auction-item, .sweepstakes-item {
	position: 			relative;
	height: 			300px;
	display: 			block;
} 

.auction-item img {
	max-height: 		180px;
	vertical-align: 	middle;
	text-align: 		center;
	display: 			block;
	position: 			relative;
	top: 				5px;
	left: 				50%;
    -webkit-transform: 	translateX(-50%);
    -ms-transform: 		translateX(-50%);
    transform: 			translateX(-50%);
}

@media (max-width: 500px) {
	
	.auctions-container, .sweepstakes-container {
		vertical-align: 	top;
		display: 			inline-block;
		width: 				100%;
		max-width: 			390px;
		height: 			350px;
		overflow: 			hidden;
	}
}

@media (max-width: 420px) {
	
	.auctions-container, .sweepstakes-container {
		max-width: 			320px;
	}
}

@media (max-width: 350px) {
	
	.auctions-container, .sweepstakes-container {
		max-width: 			290px;
	}
}

/*
Carousel Overrides for Auctions
*/

.carousel-indicators li {
	border-color: 		#666;	
}

.carousel-indicators .active {
    background-color: 	#41b89f;
	border-color: 		#41b89f;	
}

.carousel-indicators {
	bottom: 			40px;
}

.carousel-control.right, .carousel-control.left {
	background: 		none;	
}

.carousel-control .glyphicon {
	color:  			#41b89f;
}


/* 
Footer 
*/

footer {
	width: 				100%;
	height: 			320px;
	background-color: 	#000;
	color: 				#eee;
	padding: 			40px 100px !important;
}

.footer-social {
	text-align: 		right;
}

.footer-copyright {
	float: 				left;	
}

.footer-links {
	float: 				right;	
}

.footer-links a {
	color: 				#fff;	
}

.footer-social a {
	opacity: 			0.5;
	margin-right: 		10px;
}

.footer-social a:hover {
	opacity: 			1;
}

@media (max-width: 700px) {
	
	footer {
		padding: 			40px 20px !important;
	}
}

@media (max-width: 540px) {
		
	.footer-copyright {
		float: 				none;
		text-align: 		center;
	}

	.footer-links {
		float: 				none;
		text-align: 		center;
	}

}

/*
Login Form
*/

.modal-body input {
	margin-bottom: 10px;
	font-size: 2em;
	padding: 7px 10px;
	height: 50px;
	
}

.login-button {
	width: 100%;	
}

.login-footer {
	text-align: center;	
}

.login-footer a {
	display: inline-block;
	margin: 15px 5px 4px 5px;
	line-height: 1.4;
}

.login-container {
	max-width: 500px;	
}